[tool.poetry]
name = "{{ project_slug }}"
version = "{{ initial_version }}"
description = "{{ project_description }}"
authors = ["{{ author_name }} <{{ author_email }}>"]
readme = "README.md"
packages = [{ include = "{{package_name}}", from = "src" }]

[tool.poetry.dependencies]
python = "^{{ python_version }}"

[tool.poetry.group.dev.dependencies]
pytest = "^8.0"
pytest-cov = "^4.0"
ruff = "^0.3"
mypy = "^1.8"
pre-commit = "^3.6"

[tool.poetry.scripts]
"{{ project_slug }}" = "{{ package_name }}.main:main"

[tool.pytest.ini_options]
testpaths = ["tests"]

[tool.ruff]
line-length = 100
target-version = "py{{ python_version | replace('.', '') }}"

[tool.mypy]
python_version = "{{ python_version }}"
strict = true
